body {
  padding: 0;
  background-image: url('../img/hacktoberfest.png');
  background-attachment: fixed;
  background-position: center;
  background-color: #800080;
  margin: auto;
}

div {
  padding: 30px;
}

h1 {
  color: #FF7F50;
  font-size: 250%;
  font-family: 'Griffy', cursive;
}

h2 {
  color: #FF7F50;
  font-size: 200%;
  font-family: 'Griffy', cursive;
}

/* container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  max-width: 1000px;
  margin: auto;
  text-align: center;
  opacity: 0.9;
  padding: 10px;
}

/* jodc logo */
.logo {
  width: 100%;
}
